<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LINK.ZCUSTODIA" value="https://custodia.idsf.com.br/"/>
		<add key="PATH.ARQUIVO" value="C:/Temp/Arquivos/"/>
		<add key="BaseUrlApiZitec" value="https://custodiabackend-prod.idsf.com.br/api/" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionPortalProd" connectionString="Data Source=10.60.101.115;Initial Catalog=id_cadastros;Integrated Security=False;User Id=produção;Password=tOe0$7^a7$TgwM#HLhw^Ww63J;MultipleActiveResultSets=True" />
		<add name="ConnectionZitec" connectionString="Data Source=10.60.102.156,1433;Initial Catalog=Zitec_Custodia;Integrated Security=False;User Id=produção;Password=tOe0$7^a7$TgwM#HLhw^Ww63J;MultipleActiveResultSets=True;Persist Security Info=True;Pooling=True;TrustServerCertificate=True" />
		<add name="Sinqia" connectionString="Data Source=10.60.101.119;Initial Catalog=&quot;FIDC_CUSTODIA&quot;;Integrated Security=False;User Id=&quot;id_cadastros&quot;;Password=&quot;dVV269D#c7H&quot;;MultipleActiveResultSets=True"/>
	</connectionStrings>
</configuration>