<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BRITECH.API" value="https://id.britech.com.br/WS/api" />
		<add key="BRITECH.USERNAME" value="Murillo Pereira" />
		<add key="BRITECH.PASSWORD" value="idsf2022" />
		<add key="PATH.DROPBOX.D" value="D:\\ID CTVM Dropbox\" />
		<add key="PATH.DROPBOX" value="C:\RelatoriosCarteira\" />
		<!--<add key="PATH.DROPBOX" value="C:\ID CTVM Dropbox\" />-->
		<!--<add key="PATH.DROPBOX.D" value="C:\\Temp" />
		<add key="PATH.DROPBOX" value="C:\\Temp" />-->
		<!--<add key="PATH.DROPBOX" value="C:\Users\caioo\ID CTVM Dropbox\" />-->
		<add key="EMAIL.BODY" value="Prezados,&lt; br &gt; Disponho em anexo" />
		<add key="EMAIL.BODY.ATT" value="Att, Controladoria" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<!--<add name="myConnectionString" connectionString="Data Source=34.225.111.57;Initial Catalog=id_cadastros;Integrated Security=False;User Id=produção;Password=tOe0$7^a7$TgwM#HLhw^Ww63J;MultipleActiveResultSets=True" />-->
		<add name="myConnectionString" connectionString="Data Source=10.60.101.115;Initial Catalog=id_cadastros;Integrated Security=False;User Id=produção;Password=tOe0$7^a7$TgwM#HLhw^Ww63J;MultipleActiveResultSets=True" />
		<!--<add name="myConnectionString" connectionString="Data Source=198.38.83.200;Initial Catalog=lpbzluiz_id_cadastros;Integrated Security=False;User Id=lpbzluiz_id_cadastros;Password=u67y3@5DFzHydpr;MultipleActiveResultSets=True" />-->
		<!--<add name="prodConnectionString" connectionString="Data Source=34.225.111.57;Initial Catalog=id_cadastros;Integrated Security=False;User Id=produção;Password=tOe0$7^a7$TgwM#HLhw^Ww63J;MultipleActiveResultSets=True" />-->
		<!--<add name="myConnectionString" connectionString='Data Source=EC2AMAZ-SSRI9JG\SQLEXPRESS;Initial Catalog="id_cadastros";Integrated Security=False;User Id="produção";Password="tOe0$7^a7$TgwM#HLhw^Ww63J";Integrated Security=True' />
    <add name="myconnectionstring" connectionstring='data source=ec2amaz-ssri9jg\sqlexpress;initial catalog="homolog";integrated security=false;user id="produção";password="toe0$7^a7$tgwm#hlhw^ww63j";integrated security=true' />
    <add name="fromtisproc.producao.connectionstring" connectionstring='data source=10.60.101.119;initial catalog="fidc_custodia";integrated security=false;user id="dev-ops";password="phehi$91xcyorymkrp!1";multipleactiveresultsets=true' />
    <add name="fromtisproc.producao.connectionstring" connectionstring="data source=34.237.40.224;initial catalog=&quot;fidc_custodia_hmg_2&quot;;integrated security=false;user id=&quot;id_cadastros&quot;;password=&quot;dvv269d#c7h&quot;;multipleactiveresultsets=true" />
		<add name="FROMTISPROC.PRODUCAO.ConnectionString" connectionString="Data Source=34.237.40.224;Initial Catalog=&quot;FIDC_CUSTODIA_HMG&quot;;Integrated Security=False;User Id=&quot;id_cadastros&quot;;Password=&quot;dVV269D#c7H&quot;;MultipleActiveResultSets=True" />
		<add name="FROMTISPROC.PRODUCAO.ConnectionString" connectionString="Data Source=54.162.28.130;Initial Catalog=&quot;FIDC_CUSTODIA&quot;;Integrated Security=False;User Id=&quot;id_cadastros&quot;;Password=&quot;dVV269D#c7H&quot;;MultipleActiveResultSets=True" />
	-->
		<add name="FROMTISPROC.PRODUCAO.ConnectionString" connectionString="Data Source=54.162.28.130;Initial Catalog=&quot;FIDC_CUSTODIA&quot;;Integrated Security=False;User Id=&quot;id_cadastros&quot;;Password=&quot;dVV269D#c7H&quot;;MultipleActiveResultSets=True" />
		<!--<add name="FROMTISPROC.PRODUCAO.ConnectionString" connectionString="Data Source=34.237.40.224;Initial Catalog=&quot;FIDC_CUSTODIA_HMG&quot;;Integrated Security=False;User Id=&quot;id_cadastros&quot;;Password=&quot;dVV269D#c7H&quot;;MultipleActiveResultSets=True" />-->
		<!--<add name="FROMTISPROC.HOMOLOGACAO.ConnectionString" connectionString="Data Source=34.237.40.224;Initial Catalog=&quot;FIDC_CUSTODIA_HMG_2&quot;;Integrated Security=False;User Id=&quot;id_cadastros&quot;;Password=&quot;dVV269D#c7H&quot;;MultipleActiveResultSets=True" />-->
		<!--<add name="FROMTISPROC.HOMOLOGACAO.ConnectionString" connectionString='Data Source=10.60.101.238;Initial Catalog="AUX_DB";Integrated Security=False;User Id="id_cadastros";Password="dVV269D#c7H";MultipleActiveResultSets=True' />-->
		<!--<add name="FROMTISPROC.PRODUCAO.ConnectionString" connectionString='Data Source=10.60.101.119;Initial Catalog="FIDC_CUSTODIA";Integrated Security=False;User Id="dev-ops";Password=" BX7LFL3LjTrncU28au#X%IOuK**";MultipleActiveResultSets=True' />-->
		<add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
	</connectionStrings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
			</providers>
		</roleManager>
	</system.web>
</configuration>