<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LINK.PORTAL" value="https://portal.idsf.com.br/"/>
		<add key="LINK.FICHA.CONSULTORIA" value="https://portal.idsf.com.br/Consultoria/formularioConsultoria.html?t="/>
		<add key="LINK.FICHA.COTISTA" value="https://portal.idsf.com.br/Cotista/formularioCotista.html?t="/>
		<add key="LINK.FICHA.COTISTAPJ" value="https://portal.idsf.com.br/Cotista/formularioCotistaPJ.html?t="/>
		<add key="LINK.FICHA.GESTORA" value="https://portal.idsf.com.br/GestoraInterno/formularioGestora.html?t="/>
		<add key="LINK.FICHA.CORRENTISTA" value="https://portal.idsf.com.br/Correntistas/formularioCorrentistaPJ.html?t="/>
		<add key="LINK.FICHA.CORRENTISTAESCROW" value="https://portal.idsf.com.br/Correntistas/formularioCorrentistaEscrow.html?t="/>
		<add key="LINK.FICHA.COTISTAFUNDINVST" value="https://portal.idsf.com.br/Cotista/formularioCotistaFundoInvest.html?t="/>
		<add key="TokenPortal" value ="X5ZQ50IND9N9KRQR7GGX62O37OVYDR"/>
		<add key ="AutentiqueApiToken" value ="9ad54b27a864625573ad40327a1916db61b687c3fe8641ff7f3efdc3e985d3b3"/>
		<!--<add key="LINK.FICHA.COTISTA" value="https://portal.idsf.com.br/Cotista/formularioCotista.html?t="/>-->
		<!--link gestora prod e dev: https://portal.idsf.com.br/GestoraInterno/formularioGestora.html?t=-->
		<!--link consultoria prod e dev: https://portal.idsf.com.br/Consultoria/formularioConsultoria.html?t=-->
		<!--link cotista prod: https://portal.idsf.com.br/Cotista/formularioCotista.html?t=-->
		<!--link cotista dev: https://dev.idsf.com.br/Cotista/formularioCotista.html?t=-->
		<!--<add key="PATH.ARQUIVO" value="C:\TempQA\Arquivos\"/>-->
		<add key="PATH.ARQUIVO" value="D:\WebSites\_templates\TempQA\Arquivos\"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="myConnectionString" connectionString="Data Source=10.60.101.115;Initial Catalog=id_cadastros;Integrated Security=False;User Id=produção;Password=tOe0$7^a7$TgwM#HLhw^Ww63J;MultipleActiveResultSets=True" />
		<add name="FROMTISPROC.PRODUCAO.ConnectionString" connectionString="Data Source=10.60.101.119;Initial Catalog=&quot;FIDC_CUSTODIA&quot;;Integrated Security=False;User Id=&quot;id_cadastros&quot;;Password=&quot;dVV269D#c7H&quot;;MultipleActiveResultSets=True" />
		<!--<add name="myConnectionString" connectionString="Data Source=10.60.101.115;Initial Catalog=homolog;Integrated Security=False;User Id=produção;Password=tOe0$7^a7$TgwM#HLhw^Ww63J;MultipleActiveResultSets=True" />-->
		<add name="ConnectionZitec" connectionString="Data Source=10.60.102.156,1433;Initial Catalog=Zitec_Custodia;Integrated Security=False;User Id=produção;Password=tOe0$7^a7$TgwM#HLhw^Ww63J;MultipleActiveResultSets=True;Persist Security Info=True;Pooling=True;TrustServerCertificate=True" />
	</connectionStrings>
</configuration>